:root {
  --uguisuiiro: #83823d;
  --grey600: #757575;
  --grey700: #616161;
  --grey750: #505050;
  --grey800: #424242;
  --grey850: #303030;
  --grey900: #212121;
  --green300: #81c784;
  --green500: #4caf50;
  --green700: #388e3c;
  --green900: #1b5e20;
  --cyan300: #4dd0e1;
  --cyan500: #00bcd4;
  --cyan700: #0097a7;
  --cyan900: #006064;
  --teal300: #4db6ac;
  --teal500: #009688;
  --teal700: #00796b;
  --teal900: #004d40;
  --blue300: #64b5f6;
  --blue500: #2196f3;
  --blue700: #1976d2;
  --blue900: #0d47a1;
  --deepOrange300: #ff7043;
  --amber500: #ffc107;
  --black700: #2c2c35;
  --black500: #36363f;
  --black300: #424248;
  --black100: #4f4f4f;
  --black50: #696969;
  --roundSanSerif: "Kosugi Maru", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "M PLUS Rounded 1c", sans-serif;
  /* font-family: "Helvetica Neue", arial, sans-serif; */
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  text-shadow: 1px 1px 4px #00000042;
  font-weight: 700;
}

#app {
  height: 100%;
  text-align: center;
  background-color: var(--grey850);
  color: var(--blue300);
  font-size: 1.5em;
  padding-top: 1px;
}

.link {
  color: #fff;
}

.buttonMenu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.routeButton {
  font-size: 1.5em;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  background-color: var(--grey800);
  color: var(--blue300);
  border: 0;
  padding: 8px 24px;
  border-radius: 4px;
  margin-top: 4px;
  box-shadow: 2px 2px 4px #00000042;
  text-shadow: 1px 1px 4px #00000042;
}

.routeButton:active {
  background-color: var(--grey750);
  box-shadow: 1px 1px 4px #00000042;
}

.statusReportHeader {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  background-color: var(--grey900);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statusReportHeader .statusReportTitle {
  font-size: 1.2em;
  font-weight: 400;
}

.backButton {
  color: var(--blue300);
  fill: var(--blue300);
  font-size: 1.6em;
  margin-left: 0.4em;
  margin-right: 0.8em;
}

.backButton svg {
  width: 0.8em;
  height: 0.8em;
  transform: translateY(0.1em);
}

.currentTimeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 1em;
}

.nextTimesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.nextTimesBlock {
  background-color: var(--grey900);
  padding: 0.5em 4em;
  border-radius: 4px;
  border: 1px solid var(--black50);
}

.timeDisplay {
  font-weight: 700;
  font-size: 2em;
  display: grid;
  grid-template-columns: 10vw 0.3em 10vw;
  align-items: center;
}

.timeDisplay .pre-colon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.timeDisplay .post-colon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
}

.timeDisplay div.note {
  margin-left: 0.1em;
  font-size: 0.4em;
  font-weight: 400;
  margin-bottom: 0.25em;
}

.scheduleTypeMenu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--grey900);
  margin: 0;
  padding: 0;
  cursor: default;
}

.scheduleTypeMenu li {
  list-style-type: none;
  color: var(--grey750);
  font-size: 2em;
  font-weight: 700;
  cursor: pointer;
}

.scheduleTypeMenu li[data-checked="true"] {
  color: var(--blue300);
}
